@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	width: 100%;
	max-width: 1440px;
	font-size: 15px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
